<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:usesCleartextTraffic="true"
        >
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="com.hash.net.NetInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.hash.router.AInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="com.hash.common.storage.MMKVInitializer"
                android:value="androidx.startup" />


        </provider>
    </application>

</manifest>